html, body {
  background-color: #4c5570 !important;
}

.emp-list-hdr {
  text-align: center;
  font-size: 30px;
}

.emp-list {
  margin: 10% auto;
  width: 60% !important;
}

.emp-list>thead>tr>th {
  text-align: center;
}

.emp-list>tbody>tr>.emp-info {
  align-content: center;
}

.admin-btn {
  width: 90%;
  margin: 5px;
}

.admin-panel {
  text-align: center;
}

.table-footer {
  text-align: left;
}

.footer-btn {
  margin: 10px;
  width: 20%;
}

Form {
  background-color: #2c3034;
  color: white;
  margin: 10% auto;
  width: 60%;
}

.text-input {
  margin: 10px;
}

.form-hdr {
  background-color: #212529;
  color: white;
  text-align: center;
}

.form-hdr>h3 {
  padding: 8px;
  margin: auto;
}

div>hr {
  margin: 0px 0px;
}
/* 6 12 */
.date-pkr-col {
  align-content: center;
  margin: 10px;
}

.date-pkr {
  padding: 6px 12px;
  color: black;
  background-color: white;
  border-radius: 0.375rem;
}

.form-ftr {
  text-align: center;
  background-color: #212529;
  height: 30%;
}

.login-form {
  width: 40%;
}

.right-btn {
  float: right;
}

.other-option-ftr {
  text-align: center;
}

.other-option-ftr > p {
  margin: 10px;
}

.home {
  text-align: center;
  color: white;
  width: 60%;
  margin: 10% auto;
  background-color: #2c3034;
}

.home-hdr {
  background-color: #212529
}

.emp-btn, .logout-btn {
  margin: 10px;
}
